<!-- This is a template that will be used to render pages into the body tag.
The pages or tags to be rendered into this are located in the views directory -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>

    {{{body}}}

</body>
</html>